<div class="player-container" id="player-container" ng-controller="PlayerController"
     data-content="<%= render(partial: 'index', formats: [:json]) %>">
  <div>
    <h1>The Player</h1>
  </div>
  <div style="box-sizing: border-box;">
    <div class="player">
      <div id="player"></div>
    </div>
    <div class="songs-list">
      <h2>Current Playlist</h2>
      <div ng-repeat="song in songs_list">
        <div class="single-song" ng-class="{'current-song':song == current_song}">
          {{song.title}}
        </div>
      </div>
      <div ng-if="songs_list.length == 0">
        <h3>No songs in playlist</h3>
      </div>
    </div>
    <div class="new-song">
      <input class="new-song-link" ng-model="videoLink" />
      <div class="add-song-button" ng-click="addVideo()" style="margin-top: 8px">Add to list</div>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
